{% extends 'base.html.twig' %}

{% block page %}
    {% set array_index = (id | default(1)) - 1 %}

    <div class='row'>
        <div class='col-md-2'>
            <table>
                {% for brew in data.Brews %}
                <tr>
                    <td>
                        <a href="/brew/{{ loop.index }}">{{ brew.Name }}</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div> <!-- End Col -->

        <div class='col-md-10'>
            {% set brew = data.Brews[array_index] %}

            {% if missingBeerHeader %}
                <h1>{{ brew.Name }}</h1>
            {% endif %}

            {{ brew.Description | raw }}

            <br><br>

            <table class="table tablel-striped">
                <tr>
                    <th>Name</th>
                    <th>Style</th>
                    <th>ABV</th>
                    <th>IBU</th>
                </tr>
                <tr>
                    <td><p>{{ brew.Name }}</p></td>
                    <td><p>{{ brew.Style }}</p></td>
                    <td><p>{{ brew.ABV }}</p></td>
                    <td><p>{{ brew.IBU }}</p></td>
                </tr>
            </table>
        </div> <!-- End Col -->
    </div> <!-- End Row -->
{% endblock %}
