{% extends 'base.html.twig' %}

{% block page %}
    {% set array_index = (id | default(1)) - 1 %}

    <div class='row'>
        <div class='col-md-2'>
            <p>Events</p>
        </div> <!-- End Col -->

        <div class='col-md-10'>
            <table class="table tablel-striped">
                <tr>
                    <th>What</th>
                    <th>When</th>
                    <th>Where</th>
                </tr>
                {% for event in eventData %}
                {% if false or event['Fit to Publish'] %}
                <tr>
                    <td>
                        <p>{{ event['Name'] }}</p>
                        <p>{{ event['Description'] }}</p>
                    </td>
                    <td>
                        <p>{{ event['Begin Date2'] }} through {{ event['End Date2'] }}</p>
                    </td>
                    <td><p>{{ event['Location'] }}</p></td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div> <!-- End Col -->
    </div> <!-- End Row -->
{% endblock %}
